/* Creating a custom property */
@property --gradient {
    syntax: "<angle>";
    initial-value: 90deg;
    inherits: false;
}

/* Declaring some colors up front */
:root {
    --clr-1: #05425c;
    --clr-2: #073438;
    --clr-3: #eb6b56;
    --clr-4: #ffc153;
    --clr-5: #47b39d;
}

/* Styling the Body */
body {
    background-color: var(--clr-2);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--clr-4);
}

/* Styling the main heading h2 */
h2 {
    text-align: center;
    padding: 30px 0;
    font-style: italic;
}

/* Styling the main container */
.container {
    aspect-ratio: 1 /1.5;
    background-color: var(--clr-1);
    border-radius: 8px;
    padding: 30px 30px;
    position: relative;
}

/* Styling the border and animation of the main container */
.container::before,
.container::after {
    content: "";
    position: absolute;
    inset: -.2rem;
    z-index: -1;
    background: linear-gradient(
        var(--gradient),
        var(--clr-3),
        var(--clr-4),
        var(--clr-5)
    );
    border-radius: inherit;
    animation: rotation 15s linear infinite;
}

/* Creating the glow behind the main container */
.container::after {
    filter: blur(3.5rem);
}

/* Using the custom property to create rotation of the gradient */
@keyframes rotation {
    0% {--gradient: 0deg;}
    100% {--gradient: 100deg;}
}

/* Styling the checking function of items off the checklist */
.checked {
    text-decoration: line-through;
    color: var(--clr-3);
}

/* Adding a cursor pointer to the x's */
.close {
    cursor: pointer;
}

/* Styling the list items */
li {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

/* Styling the add button */
#addBtn {
    cursor: pointer;
    border: 2px solid;
    padding: 1px 5px;
    border-radius: 5px;
    
}

/* Styling the input bar */
#input {
    padding: 1px 5px;
    border: 2px solid var(--clr-4);
    border-radius: 5px;
}

/* Styling the header */
.header {
    display: flex;
    gap: 10px;
}

/* Styling the list box */
#itemList {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid;
    padding: 10px 30px;
    border-radius: 5px;
}